//= require activeadmin_addons/all
// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
//@import "active_admin/base";
$theme-primary: #00689f;
$theme-accent: #7dd2f7;
$theme-accent-fallback: #ff7547;
@import "active_material";
@import "activeadmin_addons/all";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

//$primary-color: #2dbb43;

#all_commands_column_name {
  padding: 2%;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.54);
  font-size: 0.8125rem;
}

#all_commands_column {
  padding: 2%;
  font-weight: 400;
  font-size: 0.8125rem;
}
